@model Dump.Internship.NoteShare.Models.Note

@{
    ViewBag.Title = @Model.Title;
}

<div>
    <h3>@Model.Title</h3>
    <small>@Model.CreatedOn.ToShortDateString()</small>
    <div>@Model.Text</div>
</div>